html {
  position: relative;
  min-height: 100%;
}

ul{
	list-style: none;
}

p{
	font-family: 'Helvetica-light';
	font-size: 36px;
	margin-bottom: 0px;
}

h1,h2{
	font-family: 'Helvetica-roman';
	font-size: 3.13vw;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

@font-face {
    font-family: 'Helvetica-light'; /*a name to be used later*/
    src: url('fonts/helveticaneuecyr-light.otf') format("opentype"); /*URL to font*/
}

@font-face {
    font-family: 'Helvetica-roman'; /*a name to be used later*/
    src: url('fonts/helveticaneuecyr-roman.otf') format("opentype"); /*URL to font*/
}

@font-face {
    font-family: 'Helvetica-thin'; /*a name to be used later*/
    src: url('fonts/helveticaneuecyr-thin.otf') format("opentype"); /*URL to font*/
}

body{
	font-family: 'Helvetica-light', sans-serif;
	color:#000000;
	margin-bottom: 200px;
}

		/*HEADER BEGIN*/

header{
	font-family: 'Helvetica-thin', sans-serif;
}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.logo-container{
	position: relative;
	z-index: 1001;
	width: 100px;
	height: 100px;
	left: 50px !important;
    text-align: center;
}

.navbar-brand{
	position: relative;
	z-index: 1001;
	left:50px;
	padding: 0px !important;
	margin-left: 0px !important;
	height: 100px;
	width: 100px;
}

.navbar-brand > img{
	padding-top: 12px;
    margin: auto;
}

.navbar-toggle{
	right: 25px
}


#custom-bootstrap-menu.navbar-default {
    font-size: 60px;
    background-color: rgba(213, 0, 0, 1);
    height: 100px;
    border-width: 0px;
    border-radius: 0px;
    /*margin-bottom: 0px !important;*/
}

#custom-bootstrap-menu{
	margin-bottom: 0px;
}

#navbar-right{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

#bs-example-navbar-collapse-1 {
	margin-right: 200px;
	border:0px;
    background-color: rgba(213, 0, 0, 1);
	position: relative;
	z-index: 1000;
}

#bs-example-navbar-collapse-1 ul li a {
	padding-top: 0px;
	padding-left:25px;
	padding-right: 25px;
	padding-bottom: 0px;
	line-height: 100px; 
	color:white;
}

#bs-example-navbar-collapse-1 ul>li>a:hover {
	background-color: rgba(183, 28, 28, 1);
	color:white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
li.dropdown.open.active > a:hover,
li.dropdown.open > a,
ul.dropdown-menu
{
	background-color: rgba(183, 28, 28, 1) !important;
}

ul.dropdown-menu{
	font-family: 'Helvetica-light', sans-serif;
	font-size: 36px;
	width: 100%; 
	border:0px;
	padding-top: 0px;
}

.dropdown-menu > li > a{
	white-space: pre-wrap;
	line-height: 36px !important;
    color:black !important;
    padding:25px !important;
}

		/*HEADER END*/

/*Content starts here*/

.content{
	margin-right: 200px;
	margin-left: 200px;
	padding: 25px;
	background-color: #F5F5F5;
	display: block;
}

.card {
	background-color: #e0e0e0 !important;
	margin-bottom: 25px;
	padding: 25px;
	width:100%;
	z-index: 0;
	text-align: center
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	align-items: center;
}

#gpholder{
	margin-top: 4%;
	width: 100%;
	bottom: 0;
}

#gpholder > a{
	display: block;
	float:right;
}

#gpholder > a > img{
    width: 100%;
    height: auto;
}

.content .card .subcard {
	background-color: #bdbdbd !important;
	padding: 25px;
	width:100%;
}

.no-bot-margin{
	margin-bottom: 0px !important;
}

.imgcontainer{
	position: relative;
	z-index: 0;
}

.content .card .subcard > img,
.imgcontainer > img,
.imgcontainer > a > img{
	width: 100%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.artist{
	font-size: 2.5vw;
	margin-top: 25px;
}
/*Content ends here*/

		/*footer*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #212121;
	vertical-align: middle;
	text-align: center;
}

#footerimg{
	padding-right: 10px;
	padding-left: 10px;
}

#footerrow{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 35.42%;
	/*margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 32.29% !important;
	margin-right: 32.29% !important;*/
}

		/*footer end*/
	
@media(min-width: 1601px){
	#first-subcard{
		padding-right: 12.5px;
		padding-left: 12.5px;
	}
	#second-subcard{
		padding-right: 12.5px;
		padding-left: 12.5px;
	}
	#third-subcard{
		padding-right: 12.5px;
		padding-left: 12.5px;
	}
	.with-subcards{
		margin-left: -12.5px;
		margin-right: -12.5px;
	}
}

@media(max-width: 1600px){
	.content{
		margin-right: 10%;
		margin-left: 10%
	}
	#bs-example-navbar-collapse-1{margin-right: 10%}
	p{
		font-size:1.88vw;
	}
	h1{
		font-size:3.5vw;
	}
}

@media (min-width: 1301px) and (max-width: 1600px){
	#bs-example-navbar-collapse-1 ul li a {
		padding-left: 25px;
		padding-right: 25px
	}
	.navbar-brand{
		left:25px;
	}
}

@media (min-width: 1101px) and (max-width: 1300px) {
	#bs-example-navbar-collapse-1 ul li a {
		font-size: 85%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-brand{
		left:20px;
	}
}

@media (min-width: 992px) and (max-width: 1100px) {
	#bs-example-navbar-collapse-1 ul li a {
		font-size: 70%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#bs-example-navbar-collapse-1{margin-right: 25px}
	.navbar-brand{
		left:20px;
	}
	.footer{
		height: 150px;
	}
	body{
		margin-bottom: 150px;
	}
}
	
@media (min-width: 768px) and (max-width: 991px) {
	#bs-example-navbar-collapse-1 ul li a {
		font-size: 60%;
		padding-left: 10px;
		padding-right: 10px
	}
	#bs-example-navbar-collapse-1{margin-right: 25px}
	.navbar-brand{
		left:20px;
	}
	.subcard{
		margin-bottom: 25px;
	}
	#second-subcard{
		margin-bottom: 0px;
	}
	.footer{
		height: 100px;
	}
	body{
		margin-bottom: 100px;
	}
}

/*@media (max-width: 991px){
	

	[class*="col-"]{
		margin-bottom: 25px;
	}
}*/

@media (max-width: 767px){
	#bs-example-navbar-collapse-1{margin: 0px !important;}	
	.subcard{
		margin-bottom: 25px;
	}
	.footer{
		height: 100px;
	}
	body{
		margin-bottom: 100px;
	}
	.navbar-brand{
		left:10px;
	}
	.navbar-header{
		width: 100%;
		margin:0 !important;
	}
	#footerrow{
		width: 80% !important;
	}
	#footerimg .imgcontainer > a > img{
		min-height: 75px;
		min-width: 75px;
		max-height: 100px;
		max-width: 100px; 
	}
}
